{% extends "Empbase.html" %}

{% block title %}
    View Inventory Items
{% endblock title %}
{% block content %}
    {% include 'content-header.html' %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Inventory Overview</h3>
                    <!-- card-tools -->
                    <div class="card-tools">
                        <div class="input-group input-group-sm" style="width:150px;">
                            <input type="text" name="table_search" class="form-control float-right" placeholder="Search..." id="searchInv">
                        </div>
                    </div>
                </div>
                <!-- /.card-header -->
                <!-- table of inventory -->
                <div class="card-body table-responsive p-0">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Item Code</th>
                                <th>Category</th>
                                <th>Price</th>
                                <th>Quantity Status</th>
                                <th style="width: 40px">Left</th>
                             </tr>
                        </thead>
                        <tbody>
                            {% for item in object_list %}
                        <tr>
                            <td>{{ item.item_code    }}</td>
                            <td>{{ item.category     }}</td>
                            <td><span>&#8369;</span>{{ item.price        }}</td>
                            <td>
                                {% if item.calc_quantity_level == 2 %}
                                    <!-- OK -->
                                    <div class="progress-group">
                                        <div class="progress progress-sm">
                                            <div class="progress-bar bg-success" style="width: 80%;"></div>
                                        </div>
                                    </div>
                                {% elif item.calc_quantity_level == 1 %}
                                    <!-- LOW -->
                                    <div class="progress-group">
                                        <div class="progress progress-sm">
                                            <div class="progress-bar bg-warning" style="width: 60%;"></div>
                                        </div>
                                    </div>
                                {% else %}
                                    <!-- CRITICAL -->
                                    <div class="progress-group">
                                        <div class="progress progress-sm">
                                            <div class="progress-bar bg-danger" style="width: 20%"></div>
                                        </div>
                                    </div>
                                {% endif %}
                            </td>
                            <!-- Threshold Label -->
                            <td>
                                <!-- OK -->
                                {% if item.calc_quantity_level == 2 %}
                                    <span class="badge bg-success">{{item.quantity}}</span>
                                <!-- LOW -->
                                {% elif item.calc_quantity_level == 1 %}
                                    <span class="badge bg-warning">{{item.quantity}}</span>
                                <!-- CRITICAL -->
                                {% else %}
                                    <span class="badge bg-danger">{{item.quantity}}</span>
                                {% endif %}
                            </td>
                         </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <!-- /.table -->
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
    </div>
    <!-- Search inventory table -->
    <script>
        const searchInput = document.getElementById("searchInv");
        const rows = document.querySelectorAll("tbody tr");
        console.log(rows);
        searchInput.addEventListener("keyup", function(event) {
            const q = event.target.value.toLowerCase();
            rows.forEach((row) => {
                row.querySelector("td").textContent.toLowerCase().startsWith(q) ? (row.style.display = "table-row") : (row.style.display = "none");
            });
        });
    </script>
{% endblock content %}