{% extends "Empbase.html" %}

{% block title %}
    View Inventory Items
{% endblock title %}
{% block content %}
    {% include 'content-header.html' %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Inventory</h3>

                    <div class="card-tools">
                        <div class="input-group input-group-sm" style="width:150px;">
                            <input type="text" name="table_search" class="form-control float-right" placeholder="Search...">

                            <div class="input-group-append">
                                <button type="submit" class="btn btn-default">
                                    <i class="bi bi-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.card-header -->
                <!-- table of inventory -->
                <div class="card-body table-responsive p-0">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Item Code</th>
                                <th>Name</th>
                                <th>Category</th>
                                <th>Price</th>
                                <th>Quantity</th>
                                <th>Maximum Quantity</th>
                                <th>Quantity Status</th>
                                <th>Description</th>
                             </tr>
                        </thead>
                        <tbody>
                            {% for item in object_list %}
                        <tr>
                            <td>{{ item.item_code    }}</td>
                            <td>{{ item.name         }}</td>
                            <td>{{ item.category     }}</td>
                            <td>{{ item.price        }}</td>
                            <td>{{ item.quantity     }}</td>
                            <td>{{ item.max_quantity }}</td>
                            <td>
                                {% if item.calc_quantity_level == 2 %}
                                    OK
                                {% elif item.calc_quantity_level == 1 %}
                                    Low
                                {% else %}
                                    Critical
                                {% endif %}
                            </td>
                            <td>{{ item.description  }}</td>
                         </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <!-- /.table -->
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
    </div>
{% endblock content %}