{% extends "Empbase.html" %}

{% block title %}
    View Inventory Items
{% endblock title %}
{% block content %}
    {% include 'content-header.html' %}
    <div class="col-md-12">
        <div class="card">
            <div class="card-header p-2">
                <ul class="nav nav-pills">
                  <li class="nav-item"><a class="nav-link active" href="#invTable" data-toggle="tab">Inventory</a></li>
                  <li class="nav-item"><a class="nav-link" href="#details" data-toggle="tab">Details</a></li>
                </ul>
            </div>
            <!-- /.card-header -->
            <!-- .tab-content -->
            <div class="tab-content">
                <!-- .tab-pane #invTable -->
                <div class="tab-pane active" id="invTable">
                    <!-- inventory stats and information -->
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h3 class="card-title">
                                            Inventory Overview
                                        </h3>
                                    </div>
                                    <div class="card-body">
                                        <div class="col-12 col-md-12 col-lg-16 order-2 order-md-1">
                                            <div class="row">
                                                <div class="col-12 col-sm-4">
                                                    <div class="info-box bg-light">
                                                        <div class="info-box-content">
                                                            <span class="info-box-text text-center text-muted">
                                                                Total Items Stored
                                                            </span>
                                                            <span class="info-box-number text-center text-muted mb-0">{{page_obj.paginator.num_pages}}</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-sm-4">
                                                    <div class="info-box bg-light">
                                                        <div class="info-box-content">
                                                            <span class="info-box-text text-center text-muted">
                                                                Title
                                                            </span>
                                                            <span class="info-box-number text-center text-muted mb-0">69</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-sm-4">
                                                    <div class="info-box bg-light">
                                                        <div class="info-box-content">
                                                            <span class="info-box-text text-center text-muted">
                                                                Title
                                                            </span>
                                                            <span class="info-box-number text-center text-muted mb-0">69</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- /.row -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h3 class="card-title">Inventory Table</h3>
                                        <!-- card-tools -->
                                        <div class="card-tools">
                                            <div class="input-group input-group-sm" style="width: 150px;">
                                            <input type="text" name="table_search" id="searchInv" class="form-control float-right" placeholder="Search..."></div>
                                        </div>
                                    </div>
                                    <!-- /.card-header -->
                                    <div class="card-body table-responsive p-0">
                                        <table class="table table-hover" id="inventoryTable">
                                            <thead>
                                                <tr>
                                                    <th>Item Code</th>
                                                    <th>Category</th>
                                                    <th>Price</th>
                                                    <th>Quantity Status</th>
                                                    <th style="width: 40px">Left</th>
                                                    <th style="width: 20px">Max Quantity</th>
                                                    <th style="width: 20%"></th>
                                                 </tr>
                                            </thead>
                                            <tbody>
                                                {% for item in object_list %}
                                            <tr>
                                                <td>{{ item.item_code    }}</td>
                                                <td>{{ item.category.name     }}</td>
                                                <td><span>&#8369;</span>{{ item.price        }}</td>
                                                <td>
                                                    {% if item.calc_quantity_level == 2 %}
                                                        <!-- OK -->
                                                        <div class="progress-group">
                                                            <div class="progress progress-sm">
                                                                <div class="progress-bar bg-success" style="width: 80%;"></div>
                                                            </div>
                                                        </div>
                                                    {% elif item.calc_quantity_level == 1 %}
                                                        <!-- LOW -->
                                                        <div class="progress-group">
                                                            <div class="progress progress-sm">
                                                                <div class="progress-bar bg-warning" style="width: 40%;"></div>
                                                            </div>
                                                        </div>
                                                    {% else %}
                                                        <!-- CRITICAL -->
                                                        <div class="progress-group">
                                                            <div class="progress progress-sm">
                                                                <div class="progress-bar bg-danger" style="width: 20%"></div>
                                                            </div>
                                                        </div>
                                                    {% endif %}
                                                </td>
                                                <!-- Threshold Label -->
                                                <td>
                                                    <!-- OK -->
                                                    {% if item.calc_quantity_level == 2 %}
                                                        <span class="badge bg-success">{{item.quantity}}</span>
                                                    <!-- LOW -->
                                                    {% elif item.calc_quantity_level == 1 %}
                                                        <span class="badge bg-warning">{{item.quantity}}</span>
                                                    <!-- CRITICAL -->
                                                    {% else %}
                                                        <span class="badge bg-danger">{{item.quantity}}</span>
                                                    {% endif %}
                                                </td>
                                                <!-- max quantity -->
                                                <td>
                                                    {{item.max_quantity}}
                                                </td>
                                                <!-- inventory management tools -->
                                                <td class="project-actions text-right">
                                                    <a class="btn btn-info btn-sm" href="#">
                                                        <i class="fa fa-pencil">
                                                        </i>
                                                        Edit
                                                    </a>
                                                    <a class="btn btn-danger btn-sm" href="#">
                                                        <i class="fa fa-trash">
                                                        </i>
                                                        Delete
                                                    </a>
                                                </td>
                                             </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                        <!-- /.table -->
                                    </div>
                                    <!-- /.card-body -->
                                    <!-- table footer -->
                                    <div class="card-footer clearfix">
                                        <!-- table pagination -->
                                        <ul class="pagination pagination-sm m-0 float-left">
                                            {% if page_obj.has_previous %}
                                                <li class="page-item">
                                                    <a href="?page=1" class="page-link">&laquo; First</a>
                                                    <a href="?={{ page_obj.previous_page_number }}" class="page-link">Previous</a>
                                                </li>
                                            {% endif %}
                                            {% if page_obj.has_next %}
                                            <li class="page-item">
                                                <a href="?page={{ page_obj.next_page_number }}" class="page-link">Next</a>
                                            </li>
                                            <li class="page-item">
                                                <a href="?={{ page_obj.paginator.num_pages }}" class="page-link">Last</a>
                                            </li>
                                            {% endif %}
                                        </ul>
                                        <!-- add data -->
                                        <a href="{% url 'add_items' %}" class="btn btn-info float-right"><i class="fa fa-plus"></i> Add Item </a>
                                    </div>
                                    <!-- /.card-footer -->
                                </div>
                                <!-- /.card -->
                            </div>
                            <!-- /.col-12 -->
                        </div>
                        <!-- /inventoryTable -->
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- .tab-pane -->
                <!-- .tab-pane #details -->
                <div class="tab-pane" id="details">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                <div id="accordion">
                                    <div class="card">
                                      <div class="card-header" id="headingTwo">
                                        <h5 class="mb-0">
                                          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                            Inventory Details
                                          </button>
                                        </h5>
                                      </div>
                                      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                                        <div class="card-body">
                                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                        </div>
                                      </div>
                                    </div>
                                    <div class="card">
                                      <div class="card-header" id="headingThree">
                                        <h5 class="mb-0">
                                          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                            Inventory Log
                                          </button>
                                        </h5>
                                      </div>
                                      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                                        <div class="card-body">
                                          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                            </div>
                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.tab-pane #settings -->
            </div>
        </div>
        <!-- /.card -->
        <!-- Add -->
        <div class="card" id="addInv">

        </div>
    </div>
    <!-- /.col-md-12 -->
    <script>
        // Search table
        const searchInput = document.getElementById("searchInv");
        const rows = document.querySelectorAll("tbody tr");
        searchInput.addEventListener("keyup", function(event) {
            const q = event.target.value.toLowerCase();
            rows.forEach((row) => {
                row.querySelector("td").textContent.toLowerCase().startsWith(q) ? (row.style.display = "table-row") : (row.style.display = "none");
            });
        });

        // Table pagination
        
        // Add, edit, delete data
    </script>
{% endblock content %}