{% extends 'baseform.html' %}
    {% block title %} Login {% endblock title %}
{% block content %}
<div class="card">
    <div class="card-body login-card-body">
        <p class="login-box-msg">Sign in to start your session</p>
        <form action="#" method="post">
            {% csrf_token %}
            <div class="input-group mb-3">
                <input name="email" type="email" class="form-control" placeholder="Email" required autofocus>
                <div class="input-group-append">
                    <div class="input-group-text">
                        <i class="bi bi-envelope-fill"></i>
                    </div>
                </div>
            </div>
            <div class="input-group mb-3">
                <input name="password" type="password" class="form-control" placeholder="Password" required/>
                <div class="input-group-append">
                    <div class="input-group-text">
                        <i class="bi bi-lock-fill"></i>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-8">
                    <div class="icheck-primary">
                        <input type="checkbox" id="remember">
                        <label for="remember">Remember Me</label>
                    </div>
                </div>
                <div class="col-4">
                    <button type="submit" class="btn btn-primary btn-block">Sign in</button>
                </div>
            </div>
        </form>
        <!-- Extra space lang -->
        <div class="text-center mb-3">

        </div>
        <p class="mb-1">
            <a href="#">Forgot Password?</a>
        </p>
    </div>
    <!-- /.card-body -->
</div>
<!-- /.card -->
{% endblock content %}