{% extends 'baseform.html' %}
    {% block title %}
        Reset Password
    {% endblock title %}
{% block content %}
<div class="card">
    <div class="card-body login-card-body">
        <p class="login-box-msg">Recover Password</p>
        <form action="#" method="post">
            <div class="input-group mb-3">
                <input type="password" class="form-control password" placeholder="New Password" required autofocus>
                <div class="input-group-append">
                    <div class="input-group-text">
                        <i class="bi bi-lock-fill"></i>
                    </div>
                </div>
            </div>
            <div class="input-group mb-3">
                <input type="password" class="form-control" placeholder="Confirm New Password" required/>
                <div class="input-group-append">
                    <div class="input-group-text">
                        <i class="bi bi-lock-fill"></i>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <button type="submit" class="btn btn-primary btn-block">Continue</button>
                </div>
            </div>
        </form>
        <p class="mt-3 mb-1">
            <a href="#" class="text-center">Login instead</a>
        </p>
        <!-- Extra space lang -->
        <div class="text-center mb-3">

        </div>
    </div>
    <!-- /.card-body -->
</div>
<!-- /.card -->
<script type="text/javascript">
    var passwordField = document.querySelector('.password');
    var show = document.querySelector('.show');
    var hide = document.querySelector('.hide');

    show.onclick = function() {
        passwordField.setAttribute("type", "text");
        show.style.display = "none";
        hide.style.display = "block";
    }
</script>
{% endblock content %}