<!-- for active links -->
{% url 'home' as dash %}
{% url 'view_items' as inv %}
<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <title>{% block title %} {% endblock title %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon"  href="{%static 'images/MSClogo.png'%}"/>
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/admin-lte@3.1/dist/css/adminlte.min.css">
  </head>
  <body>
    <div class="wrapper d-flex align-items-stretch">
      <nav id="sidebar">
        <div class="custom-menu">
          <button type="button" id="sidebarCollapse" class="btn btn-primary">
            <i class="fa fa-bars"></i>
            <span class="sr-only">Toggle Menu</span>
          </button>
        </div>
        <div class="p-4 pt-5">
          <a href="index.html" class="logo"><img src="{% static 'images/MSC.png' %}" class="mainLogo"></a>
          <ul class="list-unstyled components mb-5">
            <li>
                <a href="#" class="sideNavText"><img src="{% static 'icons/notification.png' %}" class="sideNavIcon"> &nbsp;Notifications</a>
            </li>
            <li class="{% if request.path == dash %}active{% endif %}">
              <a href="{% url 'home' %}" class="sideNavText">
                <img src="{% static 'icons/Dashboard.png' %}" class="sideNavIcon">&nbsp; Dashboard
              </a>
            </li>
            <li>
                <a href="{% url 'home' %}" class="sideNavText"><i class="bi bi-check-square sideNavIcon"></i> &nbsp; For Approval</a>
            </li>
            <li>
              <a href="#" class="sideNavText"><i class="bi bi-journal sideNavIcon"></i> &nbsp; Project Management</a>
            </li>
            <li>
              <a href="#" class="sideNavText"><img src="{% static 'icons/purchase.png' %}" class="sideNavIcon"> &nbsp; Purchase Management</a>
            </li>
            <li>
              <a href="{% url 'view_items' %}" class="sideNavText"><img src="{% static 'icons/inventory.png' %}" class="sideNavIcon"> &nbsp; Inventory Management</a>
            </li>
            <li>
              <a href="#" class="sideNavText"><img class="sideNavIcon" src="{% static 'icons/orders.png' %}"> &nbsp; Order Management</a>
            </li>
            {% if request.user.is_superuser %} 
            <li>
              <a href="{% url 'show_list' %}" class="sideNavText"><img src="{% static 'icons/user.png' %}">&nbsp; User Management</a>
            </li>
            {% endif %} 
            <li>
              <a href="{% url 'logout' %}" class="sideNavText"><img class="sideNavIcon" src="{% static 'icons/logout.png' %}"> &nbsp; Log Out</a>
            </li>
          </ul>
          <div class="footer">
            <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
              Copyright &copy;<script>document.write(new Date().getFullYear());</script>
              <br>All rights reserved
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
          </div>
        </div>
      </nav>

        <!-- Page Content  -->
      <div id="content" class="p-4 p-md-5 pt-5 page_content">
        {% block content %}

        {% endblock %}
      </div>
    <!-- scripts -->
    <script src="{% static 'js/jquery.min.js'%}"></script>
    <script src="{% static 'js/popper.js'%}"></script>
    <script src="{% static 'js/bootstrap.min.js'%}"></script>
    <script src="{% static 'js/main.js'%}"></script>
  </body>
</html>
