{% block content %}
<!-- Content Header -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">
                    Welcome, {{user}}! <!-- pano i-display title ng current page dito using template tags? -->
                </h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item">
                        <a href="#">Return to previous page</a>
                    </li>
                    <li class="breadcrumb-item active">{{ title }}</li> <!-- display current page title/name -->
                </ol>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /.content-header -->
{% endblock content %}