{% extends 'Adminbase.html' %}
{% block title %}
    Microtechnic Systems | Dashboard
{% endblock title %}
{% block content %}
{% include 'content-header.html' %}
<!-- Main Content -->
<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">

        <!-- .card -->
        <div class="card">
          <!-- .card-header -->
          <div class="card-header">
            <h3 class="card-title">Reports</h3>
            <!-- .card-tools -->
            <div class="card-tools">
              <a href="#" class="btn btn-tool btn-sm">
                <i class="fa fa-download"></i>
              </a>
            </div>
            <!-- /.card-tools -->
          </div>
          <!-- /.card-header -->

          <div class="card-body table-responsive p-0">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Primera</th>
                  <th>Segunda</th>
                  <th>Tercera</th>
                  <th>Cuarta</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Rep1</td>
                  <td>sample1</td>
                  <td>oof1</td>
                  <td>yay</td>
                </tr>
                <tr>
                  <td>Rep2</td>
                  <td>sample2</td>
                  <td>oof2</td>
                  <td>yay</td>
                </tr>
                <tr>
                  <td>Rep3</td>
                  <td>sample3</td>
                  <td>oof3</td>
                  <td>yay</td>
                </tr>
                <tr>
                  <td>Rep4</td>
                  <td>sample4</td>
                  <td>oof4</td>
                  <td>yay</td>
                </tr>
                <tr>
                  <td>Rep5</td>
                  <td>sample5</td>
                  <td>oof5</td>
                  <td>yay</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <!-- /.card -->

      </div>
      <!-- /.col-lg-6 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</div>
{% endblock content %}