{% extends "Adminbase.html" %}
{% load widget_tweaks %}
{% block title %}
	USER MANAGEMENT | Edit Account
{% endblock title %}

{% block content %}
<div class="page_container">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">User Management | Edit </h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">User Management</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <section class="page-container">
        <form method="POST" class="pt-4" >  
            {% csrf_token %} 
             <h3 class="mt-1 mb-4" style="text-align: center;">Update Details</h3>  
            <div class="form-group">               
                <div class="col-sm-4">  
                                 
                </div>   
            <div class="row mt-2">  
                <div class="col">
                    <label class="float-label">Employee First Name:</label>
                    <input class="form-control lg" type="text" name="first_name" id="username_firstname" required maxlength="100" value="{{ emp.first_name }}" />  
                </div>
                <div class="col">
                     <label class="float-label">Employee Last Name:</label> 
                      <input  class="form-control lg" type="text" name="last_name" id="username_lastname" required maxlength="15" value="{{ emp.last_name }}" />   
                </div>               
            </div>   
            <div class="mt-3">  
                <label class="float-label">Employee Email:</label>  
                <input class="form-control lg" type="email" name="email" id="username_email" required maxlength="254" value="{{ emp.email }}" />   
            </div>  
             
            <div>  
                <button style="width: 100%; margin-top: 20px; background-color:#00334e; color:#FFF" type="submit" class="btn ">Update</button>  
            </div> 
            <div>
                <a href="{% url 'user_profile' emp.username %}" class="btn btn-danger" style="width: 100%; margin-top: 20px; color:#FFF">Cancel</a>
            </div>
    
    </div>  
</form>  
    </section>
    
</div>

{% endblock content %}