{% extends "projects.html" %}

{% block title %}
  Delete Projects
{% endblock title %}

{% block content %}

<h1>Confirm Deletion</h1>
    <hr>

<form action = "{% url 'projects_delete' projectsDelete.project_ID %}" method = "POST">
  <p>Are you sure you want to delete {{projectsDelete.projects_Name}}?:</p>
  {% csrf_token %}
  
  <div class="card-footer">
    <button class="btn btn-danger" type="submit">Delete</button>
    <a href="{% url 'projects_view' %}" class="btn btn-info">Cancel</a>
    
  </div>
  </form>
  
{% endblock content %}
