{% extends "Empbase.html" %}

{% block title %}
  Projects
{% endblock title %}

<head>
  <title>Projects</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> 
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  

  
<style type="text/css">
  @import url("StylesProgress.css"); 
</style>
	
</head>

{% block content %}
{% include 'content-header.html' %}


{% if object_list %}
<section class="projects no-padding-top">
<div class="container">
  <!-- Project-->
  
    <section class="projects no-padding-top">
    <div class="container">
      <div class="project">
        <div class="row bg-white has-shadow">
          <div class="left-col col-lg-6 d-flex align-items-center justify-content-between">
            <table class="table table-hover" id="projectsTable">
              <thead>
                  <tr>
                      <tr>
                          <th>Project ID:</th>
                          <th>Project Name:</th>
                          <th>Client Name:</th>
                          <th >Date Created:</th>
                          <th>Status:</th>
                       </tr>
                   </tr>
              </thead>
              <tbody>
                
                {% for Projects in object_list %}           
              <tr>
                  <td>{{Projects.project_ID}}</td>
                  <td>{{Projects.projects_Name}}</td>
                  <td>{{Projects.clients_Name}}</td>
                  <td>{{Projects.date_Created}}</td>
                  <td>{{Projects.status}}</td>
                  <td>
                      <a href="{% url 'projects_edit' Projects.pk %}" class="btn btn-info float-middle">Edit</a>
                      <a href="{% url 'projects_delete' Projects.pk %}" class="btn btn-danger float-right"></i>Delete</a>
                  </td>
               </tr>
               {% endfor %}
               {% else %}
               <tr>
                <td>
                     <div class="container">
                       <div class="jumbotron">
                         <h1>Projects are Empty! Please Add a New Project</h1>      
                       </div>     
                    </div>
              </td>
           </tr>
           <a href="{% url 'projects_add' %}" class="btn btn-info float-left"><i class="fa fa-plus"></i>Add A New Project</a>
    
            {% endif %}
              </tbody>
          </table>

<!-- table pagination -->
{% if page_obj.has_other_pages %}
  <ul class="pagination pagination-sm m-0 float-left">
    {% if page_obj.has_previous %}
    <li class="page-item">
        <a href="?page={{ page_obj.previous_page_number }}" class="page-link">Previous</a>
    </li>
    {% else %}
    <li class="page-item disabled">
        <span class="page-link">Previous</span>
    </li>
    {% endif %}

    {% for page_num in page_obj.paginator.page_range %}
        {% if page_obj.number == page_num %}
            <li class="page-item active">
                <span class="page-link">{{ page_num }}</span>
            </li>
        {% else %}
            <li class="page-item">
                <a href="?page={{ page_num }}" class="page-link">{{ page_num }}</a>
            </li>
        {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
        <li class="page-item">
            <a href="?page={{ page_obj.next_page_number}}" class="page-link">Next</a>
        </li>
    {% else %}
        <li class="page-item disabled">
            <span class="page-link">Next</span>
        </li>
    {% endif %}
  </ul>
  {% endif %}
          </div>
        </div>
      </div>
    </div>		

    </section>
    
    <br>
    <br>


    <a href="{% url 'projects_add' %}" class="btn btn-info float-left"><i class="fa fa-plus"></i>Add A New Project</a>
    
{% endblock content %}




