{% extends "Adminbase.html" %}

{% load static %}
{% block title %}
    ADD PURCHASING PAGE
{% endblock title %}
{% block content %}
    <form method="POST">
        {% csrf_token %}
        {{ form.management_form }}
        <div id = "item_input_container">
            {% for f in form %}
                <div class="form_input"> {{ f }} </div>
            {% endfor %}
        </div>

        <button type="submit" /> Add Purchasing </button>
        <button type = "button" onclick="create_new_item_input()">Add Item</button>
        <!-- TODO: errors won't show-->
    </form>

    <script type="text/javascript">
        // Each selected option in all of the dropdowns must be unique

        // TODO: If an option is selected in a newer dropdown, the option
        // must be made unavailable other dropdowns
        function update_item_choices() {

            // var selected_items = []
            //
            // var all_current_items = document.getElementsByClassName("form_input");
            // for (i = 0; i < all_current_items.length; i++) {
            //     selected_items.push(all_current_items[i].querySelector("select").value);
            // }
            //
            // for (i = 0; i < all_current_items.length; i++) {
            //     for (j = 0; j < selected_items.length; j++) {
            //         option_index = find_option_index(all_current_items[i].querySelector("select"), selected_items[j]);
            //         if (option_index != undefined) {
            //             all_current_items[i].querySelector("select").remove(option_index);
            //         }
            //     }
            // }

            // var options_arr = {{ item_codes|safe }}
            // var all_current_items = document.getElementsByClassName("form_input");
            // for (i = 0; i < all_current_items.length; i++) {
            //     if (options_arr.findIndex(all_current_items[i].querySelector("select").selectedIndex.value) != -1) {
            //         options_arr.splice(options_arr.findIndex(all_current_items[i].selectedIndex.value), 1)
            //     }
            // }
            //
            // for (i = 0; i < all_current_items.length; i++) {
            //     for (j = 0; j < options.length, j++) {
            //         if (options_arr.includes(all_current_items[i].querySelector("select").options[i].value)) {
            //             all_current_items[i].querySelector("select").remove(i)
            //         }
            //     }
            // }

            var selected_items = []
            var selected_values = []
            var options_arr = {{ item_codes|safe }}

            var all_current_items = document.getElementsByClassName("form_input");

            for (i = 0; i < all_current_items.length; i++) {
                var selectbox = all_current_items[i].querySelector("select")
                selected_values.push(selectbox.options[selectbox.selectedIndex].value);
                selected_items.push([selectbox.options[selectbox.selectedIndex].value,  selectbox.options[selectbox.selectedIndex].text]);
                while (all_current_items[i].querySelector("select").options.length > 0) {
                    all_current_items[i].querySelector("select").options.remove(0);
                }
            }

            for (i = options_arr.length - 1; i >= 0; --i) {
                if (selected_values.includes(options_arr[i][0])) {
                    options_arr.splice(i, 1);
                }
            }


            for (i = 0; i < all_current_items.length; i++) {
                var new_option = document.createElement("option")
                new_option.value = selected_items[i][0];
                new_option.text = selected_items[i][1];
                all_current_items[i].querySelector("select").add(new_option)
                for (j = 0; j < options_arr.length; j++) {
                    var next_option = document.createElement("option")
                    next_option.value = options_arr[j][0];
                    next_option.text = options_arr[j][1];
                    all_current_items[i].querySelector("select").add(next_option, all_current_items[i].querySelector("select").options[j - 1])
                }
            }
        }



        function find_option_index(select_el, selected_value) {
            for (k = 0; k < select_el.options.length; k++) {
                if (select_el.options[k].value == selected_value && select_el.options[select_el.selectedIndex].value != selected_value) {
                    return k;
                }
            }
        }

        // If "Add Item" is clicked, currently selected options from older
        // dropdowns are unavailable from newer dropdowns
        function update_clone_children(clone, last_selected_index) {
            // ID format id_form-[index]-[item | quantity]
            var clone_item = clone.querySelector("select");
            var clone_qty  = clone.querySelector("input[type = 'number']");

            var increment_index = function(idx) { return parseInt(idx) + 1; };

            clone_item.name = clone_item.name.replace(/(\d+)/, increment_index);
            clone_qty.name  = clone_qty.name.replace(/(\d+)/,  increment_index);

            clone_item.id   = clone_item.id.replace(/(\d+)/, increment_index);
            clone_qty.id    = clone_qty.id.replace(/(\d+)/, increment_index);

            clone_item.remove(last_selected_index);
            console.log(clone_item);
            console.log(clone_qty);
        }

        function create_new_item_input() {
            var main_container    = document.getElementById("item_input_container");
            var all_current_items = document.getElementsByClassName("form_input");
            var last_input        = all_current_items[all_current_items.length - 1];
            var last_input_clone  = last_input.cloneNode(true)

            update_clone_children(last_input_clone,
                                  last_input.querySelector("select").selectedIndex);

            var total_forms   = document.querySelector("#id_form-TOTAL_FORMS");
            total_forms.value = parseInt(total_forms.value) + 1;

            main_container.appendChild(last_input_clone);
            update_item_choices()
        }
    </script>
{% endblock content %}
