{% extends "Adminbase.html" %}

{% block title %}
    View Purchases
{% endblock title %}
{% block content %}
    <h1 class="m-0 text-dark mb-3">
        Purchases
    </h1>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <!-- table of inventory -->
                <div class="card-body table-responsive p-0">
                    <table class="table table-hover no-break">
                        <thead class="thead-dark">
                            <tr>
                                <th> Date Requested</th>
                                <th> Purchase Number </th>
                                <th> Requested By </th>
                                <th> Approved By</th>
                                <th> Total Price </th>
                                <th> Status </th>
                             </tr>
                        </thead>
                        <tbody>
                            {% for purchasing in object_list %}
                        <tr>
                            <td>
                                {{ purchasing.date_created|date:'m/d/y' }}
                                {{ purchasing.date_created|time:'G:iA'}}
                            </td>
                            <td><a class="remove-css" href="{% url 'purchasing_detail' purchasing.pk %}">{{ purchasing.purchase_num }}</a></td>
                            <td>{{ purchasing.requested_user.last_name }},
                                {{ purchasing.requested_user.first_name }}
                            </td>
                            <td>{% if purchasing.approved_admin == None %}
                                    For approval
                                {% else %}
                                    {{ purchasing.approved_admin.last_name }},
                                    {{ purchasing.approved_admin.first_name }}
                                {% endif %}
                            </td>
                            <td>{{ purchasing.total_price }}</td>
                            <td> {{ purchasing.status_verbose }} </td>
                         </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <!-- /.table -->
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
            <div class="d-grid mx-auto float-lg-right" style="margin-bottom: 20px; margin-top: 20px; margin-left: 20px">
                <a style="background-color: #00334e; color: #FFF;" href="{% url 'purchasing_add' %}" class="p-2 btn btn-default btn-for-add">Add new purchase <i class="fa fa-plus-circle"></i></a>
            </div>
        </div>
    </div>
    <!-- Search inventory table -->
    <script>
        const searchInput = document.getElementById("searchInv");
        const rows = document.querySelectorAll("tbody tr");
        searchInput.addEventListener("keyup", function(event) {
            const q = event.target.value.toLowerCase();
            rows.forEach((row) => {
                row.querySelector("td").textContent.toLowerCase().startsWith(q) ? (row.style.display = "table-row") : (row.style.display = "none");
            });
        });
    </script>
{% endblock content %}
