{% extends "Adminbase.html" %}

{% load static %}
{% block title %}
    ADD PURCHASING PAGE
{% endblock title %}
{% block content %}
    <form method="POST">
        {% csrf_token %}
        {{ form.management_form }}
        <div id = "item_input_container">
            {% for f in form %}
                <div class="form_input"> {{ f }} </div>
            {% endfor %}
        </div>

        <button type="submit" /> Add Purchasing </button>
        <button type = "button" onclick="create_new_item_input()">Add Item</button>
        <!-- TODO: errors won't show-->
    </form>

    <script type="text/javascript" src="{% static 'js/item_selection.js' %}"></script>
    <script type="text/javascript">
        function update_item_choices() {
            var options_arr = {{ item_codes|safe }}
            update_item_dropdowns(options_arr)
        }
    </script>
{% endblock content %}
