{% extends "Adminbase.html" %}
{% load widget_tweaks %}
{% block title %}
    USER PROFILE
{% endblock title %}

{% block content %}
{% load static %}
<div class="page-content pt-10 mt-10" id="page-content" style="width: 100%;">
    <div class="page_container mt-10">
        <div class="row  justify-content-center page-content mt-10">
            <div class="page_container" id="profile">
                <div class="card user-card-full page-content">
                    <div class="row m-l-0 m-r-0 page-content">
                        <div class="col-sm-4 " style="background-color: #00334e">
                            <div class="card-block text-center text-white">
                                <div class="m-b-25"> <img src="https://img.icons8.com/bubbles/100/000000/user.png" class="img-radius" alt="User-Profile-Image"> </div>
                                <span>
                                   <h6 class="f-w-600">{{emp.first_name}}&nbsp;{{emp.last_name}}</h6>
                                    {% if emp.is_admin == 1 %}
                                        <p>Admin</p>
                                    {% endif %}
                                    {% if emp.is_admin == 0 %}
                                        <p>Employee </p>
                                    {% endif %}  
                                </span>
                               
                                <i class=" mdi mdi-square-edit-outline feather icon-edit m-t-10 f-16"></i>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="card-block">
                                <h6 class="m-b-20 p-b-5 b-b-default f-w-600">Information</h6>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <p class="m-b-10 f-w-600">Email</p>
                                        <h6 class="text-muted f-w-400">{{emp.email}}</h6>
                                    </div>
                                    <div class="col-sm-6">
                                        <p class="m-b-10 f-w-600">Employee ID</p>
                                        <h6 class="text-muted f-w-400">{{emp.username}}</h6>
                                    </div>
                                </div>
                                <h6 class="m-b-20 m-t-
                                40 p-b-5 b-b-default f-w-600">Actions</h6>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <a href="{% url 'update_user' emp.username %}" id="editForm" class="p-2 btn  btn-group-sm default-button"><img src="{% static 'icons/edit.png'%}" class="sideNavIcon"></a>
                                    </div>
                                    <div class="col-sm-6">
                                        <a  onclick="openPrompt()"  data-toggle="lightbox" class="p-2 btn cncl-button btn-group-sm"  id="deleteForm" ><img src="{% static 'icons/delete.png'%}" class="sideNavIcon"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
        <div class="form-popup form-container p-4" id="deletePrompt" style="background-color: #FFF">
            <h1>Delete User</h1>
            <p>Are you sure you want to delete this user? </p>


            <div class="row">
                <div class="col">
                    <label><b>Name: </b></label>
                    <p>{{emp.first_name}}&nbsp;{{emp.last_name}}</p>
                </div>
                <div class="col">
                    <label><b>Email: </b></label>
                    <p>{{emp.email}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label><b>Employee ID: </b></label>
                    <p>{{emp.username}}</p>

                </div>
                <div class="col">
                    <label><b>Role: </b></label>
                    {% if emp.is_admin == 1 %}
                        <p>Admin</p>
                    {% endif %}
                    {% if emp.is_admin == 0 %}
                        <p>Employee </p>
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col">
                     <a class="btn p-2 btn-group-sm default-button" onclick="closePrompt()"><i class="bi bi-x-circle"></i></a>
                </div>
                <div class="col">
                    <a  href="{% url 'delete_user' emp.username %}"  data-toggle="lightbox" class="p-2 btn cncl-button btn-group-sm"  id="deleteForm"><img src="{% static 'icons/delete.png'%}" class="sideNavIcon"></a>
                </div>
            </div>
    </div>
    
    
</div>

<script>
    function openPrompt() {
        document.getElementById("deletePrompt").style.display = "block";
    }
    function closePrompt() {
        document.getElementById("deletePrompt").style.display = "none";
    }
</script>
{% endblock content %}
