{% extends "Adminbase.html" %}
{% block title %}
    USER MANAGEMENT
{% endblock title %}

{% block content %}
{% load static %}
    <div class="page_container">
        <div class="page_container">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h3 class="m-1"><b>User Management</b></h3>
                </div>
                <div class="col-sm-6 ">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                        <li class="breadcrumb-item active">User Management</li>
                    </ol>
                </div>
                <section class="page_container">
                    <div class="page_container">
                        <div class="card">
                            <div class="card-body table-responsive-lg ">
                                <h4 class="align-items-center"><b>List Of Users</b></h4>
                                <input class="float-sm-right mb-2 btn form-control-plaintext search-bar" type="text" id="searchTable" onkeyup="searchTable()" placeholder="Search for names.." >
                                <table id="table_list" class="table table-hover  tableUser" style="overflow-x: auto; width:100%; height:100%; border:2px groove; border-color:transparent !important;">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th>
                                                <label>Email  <i  class="bi bi-sort-up"></i></label>
                                            </th>
                                            <th>
                                                <label>Last Name <i class="bi bi-sort-up"></i></label>
                                            </th>
                                            <th>
                                                <label>First Name  <i  class="bi bi-sort-up"></i></label>
                                            </th>
                                            <th>
                                                <label>Role  <i  class="bi bi-sort-up"></i></label>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody id="userTable">
                                        {% for user in object_list %}
                                        <tr class="clickable-row" data-href="{% url 'user_profile' user.username %}">
                                            {% if user.is_active == 1 %}
                                                <td>
                                                    {{user.email}}
                                                </td>
                                                <td>
                                                    {{user.last_name}}
                                                </td>
                                                <td>
                                                     {{user.first_name}}
                                                </td>
                                                <td>
                                                    {% if user.is_admin == 1 %}
                                                        <p>Admin</p>
                                                    {% endif %}
                                                    {% if user.is_admin == 0 %}
                                                        <p>Employee </p>
                                                    {% endif %}
                                                </td>
                                        </tr>
                                            {% endif %}
                                        {% endfor %}
                                    </tbody>
                                </table>
                                <div class="d-grid mx-auto float-lg-right" style="margin-bottom: 20px; margin-top: 20px; margin-left: 20px">
                                    <a style="background-color: #00334e; color: #FFF;" href="{% url 'add_user' %}"class="p-2 btn btn-default">Create New User&ensp;<i class="fa fa-user"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
                        <!-- TODO: errors won't show (still not working)-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
          $("#searchTable").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("#userTable tr").filter(function() {
              $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
          });
        });
        /////////////////////////////////////////////////////
        $(document).ready(function () {
        $('#table_list').DataTable();
        $('.dataTables_length').addClass('bs-select');
        });
        /////////////////////////////////////////////////////
        jQuery(document).ready(function($) {
            $(".clickable-row").click(function() {
                window.location = $(this).data("href");
            });
        });  
        ////////////////////////////////////////////////////
        function sortTable() {
          var table, rows, switching, i, x, y, shouldSwitch;
          table = document.getElementById("userTable");
          switching = true;
          /*Make a loop that will continue until
          no switching has been done:*/
          while (switching) {
            //start by saying: no switching is done:
            switching = false;
            rows = table.rows;
            /*Loop through all table rows (except the
            first, which contains table headers):*/
            for (i = 1; i < (rows.length - 1); i++) {
              //start by saying there should be no switching:
              shouldSwitch = false;
              /*Get the two elements you want to compare,
              one from current row and one from the next:*/
              x = rows[i].getElementsByTagName("TD")[0];
              y = rows[i + 1].getElementsByTagName("TD")[0];
              //check if the two rows should switch place:
              if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                //if so, mark as a switch and break the loop:
                shouldSwitch = true;
                break;
              }
            }
            if (shouldSwitch) {
              /*If a switch has been marked, make the switch
              and mark that a switch has been done:*/
              rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
              switching = true;
            }
          }
        }
    </script>
{% endblock content %}
